
		body{


		text-align: center;
		margin-top: 50px;
		border: 3px solid rgb(16, 16, 204);
		border-radius: 50px;



		}

		h1{

			text-align: center;
			width: fit-content;
			border: 2px solid red;
			border-radius: 500px;
		
		}

			a{
				font-size: 25px;
			}

			a:link {
				background-color: #42d8bf;
  				color: white;
  				padding: 15px 25px;
 				text-align: center;
  				text-decoration: none;
  				display: inline-block;
				border-radius: 30px;

a:visited {

  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;

  text-decoration: underline;
}

a:active {
  color: rgb(1, 39, 39);
  background-color: transparent;
  text-decoration: none;
}

